app-sky-background {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(2, 0, 36, 1) 52%, rgba(0, 0, 0, 1) 100%, rgba(0, 32, 16, 1) 100%);
}