app-dashboard {
    .dashboard-wrapper {
        padding: 7% 5%;
        width: 80vw;
        margin: auto;
    }

    .dashboard-bgc {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 3rem;
        border-radius: 20px;
        padding: 5vh 7vw;
        overflow: hidden;

    }

    .border-radius {
        border-radius: 30%;
    }

    .box-shadow {
        box-shadow: 0 0 20px -5px rgba(66, 68, 90, 1);
    }

    img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: auto;
    }

    .overlay-text {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 70%;
        color: white;
        text-align: center;
        z-index: 2;
        font-weight: 500;
        text-shadow: -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black;
    }

    .first-preview {
        font-size: 2em;
    }

    .inner-container {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .animated {
        animation-name: fadeInUpper;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    .preview-element {
        transition: transform 0.3s ease;
    }

    .preview-element:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    @keyframes fadeInUpper {
        from {
            opacity: 0;
            transform: translateY(20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @media (max-width: 1024px) {
        .dashboard-bgc {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (max-width: 768px) {
        .dashboard-bgc {
            grid-template-columns: repeat(2, 1fr);
        }
    }

}