// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$portfolio-project-primary: mat.define-palette(mat.$indigo-palette);
$portfolio-project-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$portfolio-project-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$portfolio-project-theme: mat.define-light-theme((color: (primary: $portfolio-project-primary,
                accent: $portfolio-project-accent,
                warn: $portfolio-project-warn,
            )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($portfolio-project-theme);

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
    color: white;

}

ul {
    list-style-type: none;

}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white
}

app-root {
    display: block;
    height: 100%;
    width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import './app/app.component.scss';
@import './app/main-page/sky-background/sky-background.component.scss';
@import './app/main-page/main/main.component.scss';
@import './app/main-page/navigation/navigation.component.scss';