@use '@angular/material' as mat;
@include mat.core();
$bright-navy-blue-palette: (
    50: #e3f2fd,
    100: #badffb,
    200: #8fcbfa,
    300: #61b7f7,
    400: #3ca7f6,
    500: #0c98f5,
    600: #078ae7,
    700: #42445a,
    800: #0067c2,
    900: #0049a3,
    A100: #c2e4ff,
    A200: #addcff,
    A400: #1f9eff,
    A700: #00518f,
    contrast: (50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: rgba(black, 0.87),
        A400: white,
        A700: white,
    )
);
$gainsboro-palette: (
    50: #f8f5ff,
    100: #f1eeff,
    200: #e8e5ff,
    300: #d8d5f7,
    400: #b4b1d2,
    500: #9492b1,
    600: #6b6a87,
    700: #585673,
    800: #393853,
    900: #171830,
    A100: #f5f5f5,
    A200: #eaeaeb,
    A400: #d6d6d7,
    A700: #838386,
    contrast: (50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: rgba(black, 0.87),
        A400: rgba(black, 0.87),
        A700: white,
    )
);
$crimson-palette: (
    50: #ffebef,
    100: #ffcdc5,
    200: #f0999f,
    300: #e77179,
    400: #f24e58,
    500: #f83a40,
    600: #e9313e,
    700: #d72638,
    800: #ca1e30,
    900: #bb0d24,
    contrast: (50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
    )
);
$bluesky-primary: mat.define-palette($bright-navy-blue-palette, 700, 300, 900);
$bluesky-accent: mat.define-palette($gainsboro-palette, 300, 100, 500);
$bluesky-warn: mat.define-palette($crimson-palette, 700);
$bluesky-theme: mat.define-light-theme((color: (primary: $bluesky-primary,
                accent: $bluesky-accent,
                warn: $bluesky-warn,
            )));
@include mat.all-component-themes($bluesky-theme);

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
    color: white;

}

ul {
    list-style-type: none;

}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white
}

app-root {
    display: block;
    height: 100%;
    width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import './app/app.component.scss';
@import './app/main-page/sky-background/sky-background.component.scss';
@import './app/main-page/main/main.component.scss';
@import './app/main-page/navigation/navigation.component.scss';
@import './app/dialog//dialog.component.scss'