.content-overlay {
    position: relative;
    z-index: 1;

    .text {
        height: 300px;
    }
}

.mid-nav {
    position: fixed;
    top: 75vh;
    left: 2%;
    z-index: 2;
    cursor: pointer;
}